@model IEnumerable<DataAccessLayer.BookTypeTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class= "genric-btn success" })
</p>
<table class="table">
    <tr>
        <th>
            Book Type
        </th>
        <th>
            User Name
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookTypeID }) |
            
        </td>
    </tr>
}

</table>
